a:focus, a:active, .color,
.a-icon,
.counter,
.se-icon,
.con-icon,
.social-container a {
    color: rgb(239, 15, 42);
}
.skillbar-bar,
.label-primary,
#team .team-social,
.btn, .btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger,
.process-block,
.cbp-l-filters-button .cbp-filter-item-active,
.label-primary,
#contact input.submit {
    background-color: rgb(239, 15, 42); 
}

/* Website highlight color */
::-moz-selection {background: rgb(239, 15, 42);text-shadow: none;}
::selection {background: rgb(239, 15, 42);text-shadow: none;}